.orb{
	width: 30px;
	height: 30px;
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}

.faq{
	margin: 0;
	padding: 0;
	position: relative;
	width: 60%;
}

.faq li{
	padding: 20px;
	list-style: none;
	border-radius: 10px;
}

.faq li.q{
	background: #eee;
	border-bottom: 1px #ddd solid;
	cursor: pointer;
	font-weight: bold;
	font-size: 120%;
	list-style: none;
	text-align: left;
}
.faq li.a{
	background: #ddd;
	display: none;
}

.twitter{
	width: 25%;
	height: 320px;
	margin:0 auto;
	float: right;
	position: absolute;
	left: 820px;
	top: 280px;
	display: inline-block;
	overflow:scroll;
}

pre{
	text-align: left;
}

.sublogo{
	display: inline-block;
	color: white;
	font: bold 1.5em/22px 'Roboto Slab', serif;
}
