body{
  background: #546E7A;
  font: 1em 'Lato', sans-serif;
  overflow: scroll;
}

.container{
	
	box-shadow: 10px 10px 5px #263238;
	margin: auto;
	overflow: auto;
	width: 75%;

}

/***************Header CSS******************/
.logo{
	background: #64B5F6;
	box-shadow: 2px 2px 1px #263238;
	color: white;
	display: inline-block;
	font: bold 1.5em/22px 'Roboto Slab', serif;
	padding: 10px;
	text-decoration: none;
}

.logo a{
	text-decoration: none;
	color: white;
}

header{
	background: #2196F3;
	color: black;
	height: 40%;
	overflow: hidden;
	padding: 20px;
}

.header-menu{
	display: inline-block;
	float: right;
	font: small-caps bold 1.5em/30px 'Roboto Slab', serif;
}

.header-menu a{
	text-decoration: none;
	color: #263238;
	padding: 10px;
}

.header-menu a:hover{
	background: black;
	color: white;
	padding: 10px;
}

.header-menu-item li{

	float: left;
	list-style: none;
	margin-right: 10px;
}

/******************Main CSS******************/
main{
	background: white;
	color: navy;
	display: block;
	padding: 20px;
	text-align: center;
}

/*****************Footer CSS*****************/
footer{
	background: #2196F3;
	color: white;
	height: 20px;
	padding: 20px;
	text-align: center;
}

footer p{
	margin: 0;
	padding: 0;
}

@media(max-width: 800px){
	.container{
		width: 90%;
	}
}