/**{
	border: 1px solid;
}*/
@import url(http://db.onlinewebfonts.com/c/7e3a2521a50fa146815c38f289c1d1e4?family=GeogrotesqueW01-Bold);
@font-face {font-family: "GeogrotesqueW01-Bold";
    src: url("http://db.onlinewebfonts.com/t/7e3a2521a50fa146815c38f289c1d1e4.eot");
    src: url("http://db.onlinewebfonts.com/t/7e3a2521a50fa146815c38f289c1d1e4.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/7e3a2521a50fa146815c38f289c1d1e4.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/7e3a2521a50fa146815c38f289c1d1e4.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/7e3a2521a50fa146815c38f289c1d1e4.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/7e3a2521a50fa146815c38f289c1d1e4.svg#GeogrotesqueW01-Bold") format("svg");
}
.header-menu a{
	text-decoration: none;
	color: #263238;
	padding: 10px;
}

.header-menu a:hover{
	background: black;
	color: white;
	padding: 10px;
}

body{
  background: #546E7A;
  font: 1em arial, sans-serif;
}

.container{
	border: 10px groove #0D47A1;
	box-shadow: 10px 10px 5px #263238;
	margin: auto;
	/*padding: 10px;*/
	width: 60%;
}

hr{
	padding: 0;
	margin: 0;
}

/*Header CSS*/
header{
	background: #2196F3;
	color: black;
	height: 40%;
	overflow: hidden;
	padding: 20px;
}

.logo{
	background: #64B5F6;
	border: 5px outset navy;
	color: white;
	display: inline-block;
	font: bold 1.5em/15px GeogrotesqueW01-Bold, serif;
	margin: 1 0 0 0;
	padding: 10px;
	
}

.header-menu{
	display: inline-block;
	float: right;
	font: small-caps 1.2em/15px GeogrotesqueW01-Bold;
	
}

.header-menu-item li{

	float: left;
	list-style: none;
	margin-right: 10px;
}

/*Main CSS*/
main{
	background: #2196F3;
	color: white;
	height: 40%;
	padding: 20px;
}

/*Footer CSS*/
footer{
	background: #2196F3;
	color: white;
	padding: 20px;
	text-align: center;
}