*{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(37,41,53);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    width: 65%;
    height: 90%;;
    display: flex;
    margin: 10px;
    font-size: 1.25vw;
    font-family: 'Open Sans',sans-serif;
    
}

a{
    width: 90%;    
    text-decoration: none;
    color: #555555;
    box-sizing: border-box;
    text-align: left;
}

h2{
    color: darkgray;
    font-family: 'Catamaran',sans-serif;
    font-size: .8em;
    letter-spacing: 2px;
}

h1{
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

header p{
    color: lightgray;
    font-size: .8em;
    line-height: 1.6em;
}

footer{
    display: flex;
    justify-content: space-between;
    font-size: .9em;
    width: 150%;
    position: relative;
    top: 4em;
}
footer p{
    
    margin-bottom: 20px;
    display: block;
    
    padding-right: 8em;
}

small{
    color: limegreen;
    font-size: .6em;
    opacity: .75;
    transition: opacity 1s;
    cursor: pointer;
    font-family: 'Catamaran',sans-serif;
}

small:hover{
    opacity: 1;
}

.logo{
    padding: 1em;
    display: inline-block;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 1% / 4%;
    margin-bottom: 1em;
    transition: box-shadow 1s,border 1s;
}

.logo:hover{
    box-shadow: 2px 5px 15px lightgrey;
    border: 1px solid white;
}


.card{
    display: flex;
    border-radius: 1%;
    background-color: white;
    overflow: hidden;
    flex-flow: row nowrap;
    box-shadow: 5px 5px 10px #111,-5px -5px 10px #111;
}

.left{
    flex: 8;
    border-radius: 5px 0 0 5px;
    padding: 3em 8em 1em 3em;
    position: relative;
    box-sizing: border-box;
    
}

.right{
    flex: 6;
    border-radius: 0 5px 5px 0;
}

.right img{
    display: absolute;
    height: 100%;
    max-width: 100%;
    
}

#signup{
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 1em;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: .8px;
}

#signup img{
    width: 40px;
    padding-top: .7em;
    height: 1em;
    float: left;
    margin-right: 2em;
}